<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Emergency Banner</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="emergency-banner.css">
</head>
<body>

<article class="dads-emergency-banner">
  <header class="dads-emergency-banner__header">
    <h2 class="dads-emergency-banner__heading">【緊急】〇〇地区に避難準備情報が発令されました</h2>
    <time class="dads-emergency-banner__timestamp" datetime="2024-01-01T06:00:00+09:00">2024年1月1日 06:00更新</time>
  </header>
  <div class="dads-emergency-banner__body">
    <p>1時23分に○○地区に対して避難準備情報が発令されました。お年寄りの方等避難に時間がかかる方は、直ちに指定避難所へ避難してください。</p>
  </div>
  <div class="dads-emergency-banner__action">
    <a class="dads-emergency-banner__button" href="#" target="_blank">
      指定避難所を確認する
      <span class="dads-emergency-banner__button-icon">
        <svg class="dads-emergency-banner__button-icon-glyph" width="16" height="16" viewBox="0 0 48 48" role="img" aria-label="新規タブで開きます"><path d="M22 6V9H9V39H39V26H42V42H6V6H22ZM42 6V20H39V11.2L21 29L19 27L36.8 9H28V6H42Z" fill="currentcolor"/></svg>
      </span>
    </a>
  </div>
</article>

</body>
</html>
