<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Progress Indicator</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="progress-indicator.css">
<link rel="stylesheet" href="progress-indicator.stories.css">
<script type="module" src="progress-indicator.js"></script>
</head>
<body>

<dads-progress-indicator class="dads-progress-indicator" data-type="stacked" intent="passive" active>
  <svg class="dads-progress-indicator__spinner" data-js-indicator width="48" height="48" viewBox="0 0 48 48" stroke="currentcolor" fill="none" aria-hidden="true">
    <circle class="dads-progress-indicator__track" cx="24" cy="24" r="22" stroke-width="4"></circle>
    <g><g><circle class="dads-progress-indicator__bar" cx="24" cy="24" r="22" stroke-width="4" pathLength="100"></circle></g></g>
    <circle class="dads-progress-indicator__border" cx="24" cy="24" r="23.5" stroke-width="1"></circle>
  </svg>
  <span class="dads-progress-indicator__label" data-js-label>ラベル</span>
</dads-progress-indicator>

<dads-progress-indicator class="dads-progress-indicator" data-type="inlined" intent="passive" active>
  <svg class="dads-progress-indicator__spinner" data-js-indicator width="24" height="24" viewBox="0 0 24 24" stroke="currentcolor" fill="none" aria-hidden="true">
    <circle class="dads-progress-indicator__track" cx="12" cy="12" r="8" stroke-width="3"></circle>
    <g><g><circle class="dads-progress-indicator__bar" cx="12" cy="12" r="8" stroke-width="3" pathLength="100"></circle></g></g>
    <circle class="dads-progress-indicator__border" cx="12" cy="12" r="9.5" stroke-width="1"></circle>
  </svg>
  <span class="dads-progress-indicator__label" data-js-label>ラベル</span>
</dads-progress-indicator>

<dads-progress-indicator class="dads-progress-indicator" data-type="stacked-underlay" intent="passive" active>
  <svg class="dads-progress-indicator__spinner" data-js-indicator width="48" height="48" viewBox="0 0 48 48" stroke="currentcolor" fill="none" aria-hidden="true">
    <circle class="dads-progress-indicator__track" cx="24" cy="24" r="22" stroke-width="4"></circle>
    <g><g><circle class="dads-progress-indicator__bar" cx="24" cy="24" r="22" stroke-width="4" pathLength="100"></circle></g></g>
    <circle class="dads-progress-indicator__border" cx="24" cy="24" r="23.5" stroke-width="1"></circle>
  </svg>
  <span class="dads-progress-indicator__label" data-js-label>ラベル</span>
</dads-progress-indicator>

</body>
</html>
