<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Form Control Label</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="form-control-label.css">
<link rel="stylesheet" href="../input-text/input-text.css">
</head>
<body>

<div class="dads-form-control-label" data-size="md">
  <label class="dads-form-control-label__label" for="single-input">
    ラベル
    <span class="dads-form-control-label__requirement" data-required="true">※必須</span>
  </label>
  <p id="single-support-text" class="dads-form-control-label__support-text">サポートテキスト</p>
  <div>
    <span class="dads-input-text">
      <input id="single-input" class="dads-input-text__input" type="text" data-size="md" aria-invalid="true" aria-describedby="single-error-text single-support-text">
      <span id="single-error-text" class="dads-input-text__error-text">＊エラーテキストが入ります。</span>
    </span>
  </div>
</div>

</body>
</html>
