<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Input Text</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="input-text.css">
</head>
<body>

<span class="dads-input-text">
  <input class="dads-input-text__input" type="text" data-size="sm" aria-invalid="true" aria-describedby="playground-error-text">
  <span id="playground-error-text" class="dads-input-text__error-text">＊エラーテキストが入ります。</span>
</span>

</body>
</html>
