<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Resource List</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="../radio/radio.css">
<link rel="stylesheet" href="resource-list.css">
</head>
<body>

<ul style="margin: 0; display: grid; row-gap: calc(16 / 16 * 1rem); padding-left: 0; list-style-type: none;">

  <li>
    <div class="dads-resource-list" data-style="frame">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title">健康診断</h2>
          <div class="dads-resource-list__support">
            <p>2025年度</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>受診日：2025/04/30</p>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="frame">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title">健康診断</h2>
          <div class="dads-resource-list__support">
            <p>2024年度</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>受診日：2024/11/24</p>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="frame">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title">健康診断</h2>
          <div class="dads-resource-list__support">
            <p>2023年度</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>受診日：2023/10/13</p>
        </div>
      </div>
    </div>
  </li>

</ul>

<ul style="margin: 4em 0 0; display: grid; row-gap: calc(16 / 16 * 1rem); padding-left: 0; list-style-type: none;">

  <li>
    <div class="dads-resource-list" data-style="frame" style="border-radius: 0;">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title">給与明細</h2>
          <div class="dads-resource-list__support">
            <p>2025年10月分</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>支給日：2025/11/14</p>
        </div>
      </div>
      <div class="dads-resource-list__action">
        <button class="dads-resource-list__action-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" role="img" aria-label="ダウンロード">
            <path d="m12 15.8-4.3-4.3 1-1 2.6 2.4V4.5h1.4v8.4l2.5-2.5 1 1.1-4.2 4.3Zm-5.7 3.7c-.5 0-1-.2-1.3-.5-.3-.4-.5-.8-.5-1.3V15H6v2.7l.1.2.2.1h11.4l.2-.1.1-.2V15h1.5v2.7c0 .5-.2 1-.5 1.3-.4.3-.8.5-1.3.5H6.3Z"/>
          </svg>
        </button>
      </div>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="frame" style="border-radius: 0;">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title">給与明細</h2>
          <div class="dads-resource-list__support">
            <p>2025年9月分</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>支給日：2025/10/15</p>
        </div>
      </div>
      <div class="dads-resource-list__action">
        <button class="dads-resource-list__action-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" role="img" aria-label="ダウンロード">
            <path d="m12 15.8-4.3-4.3 1-1 2.6 2.4V4.5h1.4v8.4l2.5-2.5 1 1.1-4.2 4.3Zm-5.7 3.7c-.5 0-1-.2-1.3-.5-.3-.4-.5-.8-.5-1.3V15H6v2.7l.1.2.2.1h11.4l.2-.1.1-.2V15h1.5v2.7c0 .5-.2 1-.5 1.3-.4.3-.8.5-1.3.5H6.3Z"/>
          </svg>
        </button>
      </div>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="frame" style="border-radius: 0;">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title">給与明細</h2>
          <div class="dads-resource-list__support">
            <p>2025年8月分</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>支給日：2025/9/15</p>
        </div>
      </div>
      <div class="dads-resource-list__action">
        <button class="dads-resource-list__action-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" role="img" aria-label="ダウンロード">
            <path d="m12 15.8-4.3-4.3 1-1 2.6 2.4V4.5h1.4v8.4l2.5-2.5 1 1.1-4.2 4.3Zm-5.7 3.7c-.5 0-1-.2-1.3-.5-.3-.4-.5-.8-.5-1.3V15H6v2.7l.1.2.2.1h11.4l.2-.1.1-.2V15h1.5v2.7c0 .5-.2 1-.5 1.3-.4.3-.8.5-1.3.5H6.3Z"/>
          </svg>
        </button>
      </div>
    </div>
  </li>

</ul>

<ul style="margin: 4rem 0 0; display: grid; padding-left: 0; list-style-type: none;">

  <li>
    <div class="dads-resource-list" data-style="list">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title"><a href="#">デジ田 太郎</a></h2>
          <div class="dads-resource-list__support">
            <p>taro-dejita@example.com</p>
          </div>
        </div>
        <div class="dads-resource-list__sub">
          <p>招待中</p>
        </div>
      </div>
      <div class="dads-resource-list__action">
        <button class="dads-resource-list__action-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" role="img" aria-label="メニュー">
            <circle cx="12" cy="4.5" r="1.5"/>
            <circle cx="12" cy="12" r="1.5"/>
            <circle cx="12" cy="19.5" r="1.5"/>
          </svg>
        </button>
      </div>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="list">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title"><a href="#">デジ山 ひかり</a></h2>
          <div class="dads-resource-list__support">
            <p>hikari-dejiyama@example.com</p>
          </div>
        </div>
      </div>
      <div class="dads-resource-list__action">
        <button class="dads-resource-list__action-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" role="img" aria-label="メニュー">
            <circle cx="12" cy="4.5" r="1.5"/>
            <circle cx="12" cy="12" r="1.5"/>
            <circle cx="12" cy="19.5" r="1.5"/>
          </svg>
        </button>
      </div>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="list">
      <div class="dads-resource-list__body">
        <div class="dads-resource-list__contents">
          <h2 class="dads-resource-list__title"><a href="#">出而足 長一郎</a></h2>
          <div class="dads-resource-list__support">
            <p>choichiro-dejitaru@example.com</p>
          </div>
        </div>
      </div>
      <div class="dads-resource-list__action">
        <button class="dads-resource-list__action-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" role="img" aria-label="メニュー">
            <circle cx="12" cy="4.5" r="1.5"/>
            <circle cx="12" cy="12" r="1.5"/>
            <circle cx="12" cy="19.5" r="1.5"/>
          </svg>
        </button>
      </div>
    </div>
  </li>

</ul>

<ul style="margin: 4rem 0 0; display: grid; row-gap: calc(16 / 16 * 1rem); padding-left: 0; list-style-type: none;">

  <li>
    <div class="dads-resource-list" data-style="frame">
      <span class="dads-resource-list__body">
        <label class="dads-radio" data-size="md">
          <span class="dads-radio__radio">
            <input id="payment-method-1" class="dads-radio__input" type="radio" name="payment-method" checked>
          </span>
        </label>
        <div class="dads-resource-list__contents">
          <p class="dads-resource-list__title">
            <label for="payment-method-1" data-interaction="whole">クレジットカード払い</label>
          </p>
          <div class="dads-resource-list__label">
            <p>おすすめ</p>
          </div>
          <div class="dads-resource-list__support">
            <p>Visa、Master、JCB対応</p>
          </div>
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="frame">
      <span class="dads-resource-list__body">
        <label class="dads-radio" data-size="md">
          <span class="dads-radio__radio">
            <input id="payment-method-2" class="dads-radio__input" type="radio" name="payment-method">
          </span>
        </label>
        <div class="dads-resource-list__contents">
          <p class="dads-resource-list__title">
            <label for="payment-method-2" data-interaction="whole">銀行振込</label>
          </p>
          <div class="dads-resource-list__support">
            <p>入金確認後の商品発送となります。<br>振り込み手数料はお客様負担となります。</p>
          </div>
        </div>
      </span>
    </div>
  </li>

  <li>
    <div class="dads-resource-list" data-style="frame">
      <span class="dads-resource-list__body">
        <label class="dads-radio" data-size="md">
          <span class="dads-radio__radio">
            <input id="payment-method-3" class="dads-radio__input" type="radio" name="payment-method">
          </span>
        </label>
        <div class="dads-resource-list__contents">
          <p class="dads-resource-list__title">
            <label for="payment-method-3" data-interaction="whole">コンビニ決済</label>
          </p>
          <div class="dads-resource-list__support">
            <p>入金確認後の商品発送となります。<br>全国のコンビニで利用可能です。</p>
          </div>
        </div>
      </span>
    </div>
  </li>

</ul>

</body>
</html>
