<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Radio</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="radio.css">
</head>
<body>

<div style="display: grid; grid-template-columns: repeat(6, auto); gap: 2rem; justify-content: start">

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-lg-1">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-lg-1" checked>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-lg-2" aria-invalid="true">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-lg-2" checked aria-invalid="true">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-lg-3" disabled>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-lg-3" checked disabled>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-md-1">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-md-1" checked>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-md-2" aria-invalid="true">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-md-2" checked aria-invalid="true">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-md-3" disabled>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-md-3" checked disabled>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-sm-1">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-sm-1" checked>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-sm-2" aria-invalid="true">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-sm-2" checked aria-invalid="true">
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-sm-3" disabled>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio">
      <input class="dads-radio__input" type="radio" name="all-sm-3" checked disabled>
    </span>
    <span class="dads-radio__label">ラベル</span>
  </label>

</div>

</body>
</html>
