<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Radio</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="radio.css">
<link rel="stylesheet" href="../form-control-label/form-control-label.css">
</head>
<body>

<fieldset class="dads-form-control-label" data-size="sm" aria-describedby="support-text">
  <legend class="dads-form-control-label__label">
    東京23区
    <span class="dads-form-control-label__requirement" data-required="true">※必須</span>
  </legend>
  <p id="support-text" class="dads-form-control-label__support-text">該当する区を選択してください。</p>
  <div>
    <label class="dads-radio" data-size="sm">
      <span class="dads-radio__radio">
        <input class="dads-radio__input" type="radio" name="stacked">
      </span>
      <span class="dads-radio__label">足立区</span>
    </label>
    <label class="dads-radio" data-size="sm">
      <span class="dads-radio__radio">
        <input class="dads-radio__input" type="radio" name="stacked">
      </span>
      <span class="dads-radio__label">荒川区</span>
    </label>
    <label class="dads-radio" data-size="sm">
      <span class="dads-radio__radio">
        <input class="dads-radio__input" type="radio" name="stacked">
      </span>
      <span class="dads-radio__label">板橋区</span>
    </label>
    <label class="dads-radio" data-size="sm">
      <span class="dads-radio__radio">
        <input class="dads-radio__input" type="radio" name="stacked">
      </span>
      <span class="dads-radio__label">江戸川区</span>
    </label>
  </div>
</fieldset>

</body>
</html>
