<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Carousel</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../global.css">
<link rel="stylesheet" href="carousel-single.css">
</head>
<body style="margin: 0;">

<div class="dads-carousel-single">
  <span class="dads-carousel-single__link">
    <img class="dads-carousel-single__image" src="image-9.webp" srcset="image-9@2x.webp 2x" alt="写真：デジタル公園の大木 - 太い幹があり、そこから伸びる多数の枝が絡み合うように広がっている。枝の間からは青空と緑の葉が見える。" width="1024" height="392">
  </span>
</div>

</body>
</html>
